--indent 4
--indentcase true
--trimwhitespace always
--linebreaks lf
--commas inline
--comments ignore
--ranges no
--semicolons never
--enable acronyms
--exclude .build,dist,.swiftpm,.worktrees,website
--header "{file}"
--swiftversion 5.10
--binarygrouping 4,8
--decimalgrouping 3,6
--exponentgrouping lower
--fractiongrouping disabled
--hexgrouping 4,8
--importgrouping testable-last
--operatorfunc spaced
--self init-only
--stripunusedargs closure-only
--typeattrs preserve
--varattrs preserve
